{% extends "base_accounts.html" %}
{% load static %}

{% block content %}
<div class="wrapper">
    <!-- Login Page Start -->
    <div class="m-account-w" data-bg-img="{% static 'images/background.jpg' %}">
        <div class="m-account">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <!-- Login Content Start -->
                    <div class="m-account--content-w">
                        <div class="m-account--content">

                            {% if form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                   {{ form.email.errors }}
                                </div>
                            {% endif %}

                            <h2 class="h2">Área restrita</h2>
                            <p>Se você é um parceiro, solicite o seu login.</p>

                        </div>
                    </div>
                    <!-- Login Content End -->
                </div>

                <div class="col-md-6">
                    <!-- Login Form Start -->
                    <div class="m-account--form-w">
                        <div class="m-account--form">
                            <!-- Logo Start -->
                            <div class="logo">
                                <img src="{% static 'images/goLME-logo.png' %}" alt="">
                            </div>
                            <!-- Logo End -->

                            <form action="" method="post">{% csrf_token %}
                                {% csrf_token %}
                                <label class="m-account--title">Login to your account</label>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-envelope"></i>
                                        </div>

                                        <input class="form-control" placeholder="Email" type="email" name="email" maxlength="254" required="" id="id_email">
                                    </div>
                                </div>

                                <div class="m-account--actions">
                                    <a href="{{request.META.HTTP_REFERER|escape}}" class="btn-link">Voltar</a>
                                    <button type="submit" value="Reset password" class="btn btn-rounded btn-info" name="reset">Reset password</button>
                                </div>

                                <div class="m-account--footer">
                                    <p>&copy; 2021 GorilaXpress</p>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Login Form End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Login Page End -->
</div>
{% endblock %}