{% extends "base.html" %}

{% block title %}Sobre{% endblock %}

{% block extra_css %}

{% endblock %}

{% block extra_head_js %}

{% endblock extra_head_js %}

{% block content %}
  <main class="main_container">
    <div>
      <h1>Sobre</h1>
      <p>Cotação London Metal Exchange</p>
    </div>
    <div class="row">
      <div class="col s12">
        <p><strong>Metais</strong> – Os valores da cotação LME referem-se à média entre o CASH BUYER e CASH SELLER &amp;
          SETTLEMENT em US$/T</p>
        <p><strong>Dólar</strong> – R$/US$ – Esta taxa de câmbio mostra o valor de 1 Dólar Americano em Reais
          Brasileiros. Esta taxa de câmbio é uma média de taxas de várias fontes. Estas incluem exchanges, corretoras,
          jornais e fontes de bancos centrais.</p>
      </div>
    </div>
  </main>
{% endblock content %}