{% extends "base.html" %}

{% block title %}Sobre{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <style>
      #contact-button {
          position: fixed;
          display: block;
          right: 0;
          bottom: 0;
          margin-right: 40px;
          margin-bottom: 40px;
          z-index: 900;
      }
  </style>
{% endblock %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block content %}
  <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
      <div class="demo-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
          <div class="demo-crumbs mdl-color-text--grey-500">
            Cotação LME &gt; Sobre
          </div>
          <h3>Origem dos dados</h3>

          <p><strong>Metais</strong> – Os valores da cotação LME referem-se à média entre o CASH BUYER e CASH SELLER &amp; SETTLEMENT em US$/T</p>
          <p><strong>Dólar</strong> – R$/US$ – Esta taxa de câmbio mostra o valor de 1 Dólar Americano em Reais Brasileiros. Esta taxa de câmbio é uma média de taxas de várias fontes. Estas incluem exchanges, corretoras, jornais e fontes de bancos centrais.</p>

        </div>
      </div>

    </main>
  </div>
  <a href="https://gorilaxpress.com/cotacao-london-metal-exchange/" id="contact-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Contato</a>

{% endblock content %}