<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="pt-br" class="no-outlines">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- ==== Document Title ==== -->
  <title>goLME • GorilaXpress</title>

  <!-- ==== Document Meta ==== -->
  <meta name="author" content="Tiago Cordeiro">
  <meta name="description" content="Cotação London Metal Exchange">
  <meta name="keywords" content="Cotação London Metal Exchange">

  <!-- ==== Favicon ==== -->
  <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">

  <!-- ==== Google Font ==== -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,500">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/perfect-scrollbar.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/morris.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/jquery-jvectormap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/horizontal-timeline.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/weather-icons.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dropzone.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/ion.rangeSlider.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/ion.rangeSlider.skinFlat.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/datatables.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- Page Level Stylesheets -->

</head>
<body>

<!-- Wrapper Start -->
{% block content %}
{% endblock %}
<!-- Wrapper End -->

<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'assets/js/raphael.min.js' %}"></script>
<script src="{% static 'assets/js/morris.min.js' %}"></script>
<script src="{% static 'assets/js/select2.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-jvectormap-world-mill.min.js' %}"></script>
<script src="{% static 'assets/js/horizontal-timeline.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.steps.min.js' %}"></script>
<script src="{% static 'assets/js/dropzone.min.js' %}"></script>
<script src="{% static 'assets/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Page Level Scripts -->

</body>
</html>
