<!DOCTYPE html>
{% load static %}
<html dir="ltr" lang="en" class="no-outlines">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- ==== Document Title ==== -->
  <title>{% block title %}Zumaq Partners{% endblock %}</title>

  <!-- ==== Document Meta ==== -->
  <meta name="author" content="Tiago Cordeiro">
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- ==== Favicon ==== -->
  <link rel="icon" href="{% static "favicon.png" %}" type="image/png">

  <!-- ==== Google Font ==== -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CMontserrat:400,500">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/fontawesome-all.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/jquery-ui.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/perfect-scrollbar.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/morris.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/select2.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/jquery-jvectormap.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/horizontal-timeline.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/weather-icons.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/dropzone.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/ion.rangeSlider.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/ion.rangeSlider.skinFlat.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/datatables.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/fullcalendar.min.css" %}">
  <link rel="stylesheet" href="{% static "assets/css/style.css" %}">

  <!-- Page Level Stylesheets -->
  {% block extra_styles %}
  {% endblock %}

</head>
<body>

<!-- Wrapper Start -->
<div class="wrapper">
  {% include 'navbar.html' %}

  <!-- Main Container Start -->

  <main class="main--container">
    <!-- Page Header Start -->
    <section class="page--header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <!-- Page Title Start -->
            <h2 class="page--title h5">{% block page-title %}Dashboard{% endblock %}</h2>
            <!-- Page Title End -->

            <ul class="breadcrumb">
              {% block breadcrumb %}
                <li class="breadcrumb-item active"><span>Dashboard</span></li>
              {% endblock %}
            </ul>
          </div>

          <div class="col-lg-6">
            {#                            <!-- Summary Widget Start -->#}
            {#                            <div class="summary--widget">#}
            {#                                <div class="summary--item">#}
            {#                                    <p class="summary--chart" data-trigger="sparkline" data-type="bar" data-width="5" data-height="38" data-color="#009378">2,9,7,9,11,9,7,5,7,7,9,11</p>#}
            {##}
            {#                                    <p class="summary--title">This Month</p>#}
            {#                                    <p class="summary--stats text-green">2,371,527</p>#}
            {#                                </div>#}
            {##}
            {#                                <div class="summary--item">#}
            {#                                    <p class="summary--chart" data-trigger="sparkline" data-type="bar" data-width="5" data-height="38" data-color="#e16123">2,3,7,7,9,11,9,7,9,11,9,7</p>#}
            {##}
            {#                                    <p class="summary--title">Last Month</p>#}
            {#                                    <p class="summary--stats text-orange">2,527,371</p>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                            <!-- Summary Widget End -->#}
          </div>
        </div>
      </div>
    </section>
    <!-- Page Header End -->

    <!-- Main Content Start -->
    {% block content %}
    {% endblock %}
    <!-- Main Content End -->

    <!-- Main Footer Start -->
    <footer class="main--footer main--footer-light">
      <p>Copyright &copy; <a target="_blank" href="https://www.mulhergorila.com/">Mulher Gorila</a></p>
    </footer>
    <!-- Main Footer End -->
  </main>
  <!-- Main Container End -->
</div>
<!-- Wrapper End -->

<!-- Scripts -->
<script src="{% static "assets/js/jquery.min.js" %}"></script>
<script src="{% static "assets/js/jquery-ui.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "assets/js/perfect-scrollbar.min.js" %}"></script>
<script src="{% static "assets/js/jquery.sparkline.min.js" %}"></script>
<script src="{% static "assets/js/raphael.min.js" %}"></script>
<script src="{% static "assets/js/morris.min.js" %}"></script>
<script src="{% static "assets/js/select2.min.js" %}"></script>
<script src="{% static "assets/js/jquery-jvectormap.min.js" %}"></script>
<script src="{% static "assets/js/jquery-jvectormap-world-mill.min.js" %}"></script>
<script src="{% static "assets/js/horizontal-timeline.min.js" %}"></script>
<script src="{% static "assets/js/jquery.validate.min.js" %}"></script>
<script src="{% static "assets/js/jquery.steps.min.js" %}"></script>
<script src="{% static "assets/js/dropzone.min.js" %}"></script>
<script src="{% static "assets/js/ion.rangeSlider.min.js" %}"></script>
<script src="{% static "assets/js/datatables.min.js" %}"></script>
<script src="{% static "assets/js/main.js" %}"></script>

<!-- Page Level Scripts -->
{% block extra_scripts %}
{% endblock %}

</body>
</html>
