<header class="header">
  <a href="{% url 'index' %}" class="logo">Cotação LME</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'about' %}">Sobre</a></li>
    <li><a href="{% url 'docs' %}">Documentação</a></li>
    <li><a href="https://gorilaxpress.com/cotacao-london-metal-exchange/">Contato</a></li>
  </ul>
</header>